
/* pie de pagina */
/* body {
    display: flex;
      flex-direction: column;
      min-height: 100vh; */
  
      *{
        color: #fff;
        margin: 0;
        padding: 0;
        box-sizing:
        border-box;
    }
    
    .contenedor1 {
        width: 100%;
        /* justify-content: center; */
        align-items: center; 
        background-color: #543a3a;
        border: #000 2px solid;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr;
        padding: 10px;
        grid-template-areas:
        "h1 libros autores generos biblioteca" 
    }
    @media (max-width: 700px) {
        .contenedor1 {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
            "h1 libros autores"
            "h1 generos biblioteca"
        }
        
    }
    .contenedor1 a {
        border-radius: 1rem;
        width: auto;
        height: 100px;
        background-color: rgb(45, 141, 49);
        border: #000 2px solid;
        text-decoration: none;
        font-size: 2rem;
        color: #000;
        /* este es para centrar el texto con grid: display:grid  place-items: center; */ ;   
        display:grid ;
        place-items: center;
    }
    .contenedor1 h1 {
        /* color: #fff; */
        text-align: center;
        grid-area: h1;
    }
    .itemlibros{
              grid-area: libros;
    }
    .itemautores{
              grid-area: autores;
    }
    .itemgeneros{
              grid-area: generos;
    }   
    .itembiblioteca{
        grid-area: biblioteca;
    }
    .contenedor1 a:hover{
        background-color: #000;
        transition:0.5s;
        color: #ffffff;
    }
    body {
        background-color: #000;
    }